/* variable list */
:root {
	/* color */
	--dary-gray: #252525;
	--light-gray: #e1e1e1;
	--orange: #f84816;

	/* fonts */
	--font-primary: Futura;
	--font-paragraph: minion-pro-subhead;
	--font-title1: Miss Fajardose;
	--font-title2: Minion Pro;
	--font-title3: Neonderthaw;
	--font-title4: 'Micro 5';

}

body {
	background-color: var(--light-gray);
	color: var(--dary-gray);
	/* font-family: minion-pro-subhead; */
	margin-top: 3.5rem;
	margin-right: 23rem;
	margin-left: 23rem;
	justify-content: center;
	margin-bottom: 2rem;
	/* font-size: 1.2rem; */
	cursor: url('favicon.png'), auto;
	z-index: 1;
}

h1{
	line-height: 3.5rem;
	/* margin-left: 0rem; */
	font-size: 1.2rem;
	font-weight: 100;
}

header {
	display: grid;
	grid-row: 1fr
	1fr
	1fr;
}

h3 {
	font-size: 2rem;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

.title {
	display: grid;
	grid-auto-flow: column;
	grid-tremplate-columns: repeat(7, auto);
	position: relative;
	padding-right: 0;
}

.mobiletitle, .mobiletitle2 {
	display: none;
}

.word1{
	font-family: var(--font-title1);
	font-size: 16rem;
	position: relative;
	transform: translateY(10px);
}

.word2 {
	font-family: var(--font-title3);
	font-size: 9.5rem;
	position: relative;
	margin-left: -3rem;
	font-weight: 300;
}

.word3 {
	font-family: var(--font-title2);
	font-size: 6.5rem;
	font-weight: 400;
	position: relative;
	margin-left: -4rem;
	transform: translateY(20px);
}

.word4 {
	font-family: var(--font-title2);
	font-size: 6.5rem;
	font-weight: 500;
	position: relative;
	color: #f84816;
	margin-left: -5rem;
}

.word5 {
	font-family: var(--font-title2);
	font-size: 6rem;
	font-weight: 300;
	position: relative;
	margin-left: -5rem;
	transform: translateY(10px);
}

.word6 {
	font-family: var(--font-title3);
	font-size: 6.5em;
	position: relative;
	margin-left: -3rem;
	font-weight: 300;
}

.word7 {
	font-family: var(--font-title2);
	font-size: 5em;
	position: relative;
	margin-left: -3.7rem;
	transform: translateY(25px);
	font-weight: 200;
}

.title2 {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(7, auto);
	position: relative;
	margin-top: -1rem;
}

.text1 {
	font-family: var(--font-title2);
	font-size: 6em;
	position: relative;
	transform: translateY(25px);
}

.text2 {
	font-family: var(--font-title1) ;
	font-size: 11rem;
	position: relative;
	margin-left: -6.5rem;
	color: var(--orange);
}

.text3 {
	font-family: var(--font-title3);
	font-size: 7.5rem;
	position: relative;
	font-weight: 200;
	margin-left: -8rem;
}

.text4 {
	font-family: var(--font-title4);
	font-size: 7rem;
	position: relative;
	margin-left: -10rem;
	transform: translateY(25px);
}

.text5 {
	font-family: var(--font-title2);
	font-size: 6rem;
	position: relative;
	margin-left: -13rem;
	transform: translateY(25px);
	font-weight: 500;	
}

.text6 {
	font-family: var(--font-title1);
	font-size: 11rem;
	position: relative;
	margin-left: -16rem;
}

.text7 {
	font-family: var(--font-title1);
	font-size: 12rem;
	margin-left: -20rem;
	transform: translateY(-2px);
	position: relative;
	z-index: 7;
}

::selection {
	background-color: var(--orange);
	color: var(--light-gray);
}

.highlight {
	font-family: var(--font-title3);
	color: var(--orange);
}

.article,
.response {
	display: block;
	color: var(--dary-gray);
	font-family: var(--font-primary);
	margin-top: 0.2rem;
	text-align: right;
}

.article:hover,
.response:hover {
	color: var(--orange);
	transform: translateX(-0.4rem);
}

h3 {
	font-size: 1rem;
	background-color: var(--orange);
	padding-left: 0.2rem;
	position: relative;
	z-index: 5;
	font-family: var(--font-primary);
}

h3:hover {
	background-color: var(--dary-gray);
	color: var(--light-gray);
	text-decoration: underline;
}

li {
	list-style: none;
	float: none;
	line-height: 1rem;
	display: flex;
	flex-direction: column;
	align-itrems: flex-end;
	}

.rightdate {
	float: right;
	padding-right: 0.2rem;
}

p {
	font-family: var(--font-paragraph);
	font-size: 1.2rem;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: 400;
}

blockquote {
	font-family: var(--font-primary);
	font-size: 1rem;
	font-style: italic;
	font-weight: 300;
	color: #717171;
	padding: 1rem;
	border-radius:0.5rem;
	margin-bottom: 2rem;
	margin-top: 1.5rem;
	background-color: rgb(255, 255, 255, 0.3);
	backdrop-filter: blur(1.25rem);
	box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
	border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.box-link {	
	text-decoration: underline;
}

.box-link:hover {
	color: var(--orange);
}

.question {
	text-decoration: underline;
	margin-bottom: 1.5rem;
	font-style: italic;
	font-weight: 600;
	font-size: 1.3rem;
}

.no-margin {
	margin: 0;
}

q {
	display: inline-block;
	margin-top: 1.6rem;
	margin-left: 3rem;
	margin-right: 2rem;
	font-size: 1.2rem;
	font-family: "minion-pro-condensed-caption", serif;
	font-weight: 500;
	font-style: italic;
	color: var(--orange);
}

#interview {
	padding-top: 1.3rem;
	padding-bottom: 1rem;
	padding-left: 0.5rem;
	padding-right: 4rem;
	border-radius:0.5rem;
	background-color: rgb(255, 255, 255, 0.2);
	backdrop-filter: blur(1.25rem);
	box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
	border: 0.1rem solid rgba(255, 255, 255, 0.2);	
}

.designer {
	margin-left: 1.2rem;
	font-size: 1rem;
	font-weight: 400;
	color: var(--orange);
	font-family: futura;
}
.answer{
	margin-left: 3rem;
	margin-bottom: 1rem;
	margin-top: 0.3rem;
	font-size: 1rem;
	font-family:'Space Grotesk';
	font-weight: 400;
	color: #717171;
}

.account {
	font-size: 0.9rem;
}

.account:hover {
	color: var(--dary-gray);
	text-decoration:underline;
}

.point {
	font-family: var(--font-title2);
	font-size: 1.5rem;
	color: var(--dary-gray);
	margin-top: 0.35rem;
	margin-bottom: 0.35rem;
	font-weight: 500;
}

#mainpoint {
	margin-top: 1.5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	border-radius:0.5rem;
	background-color: rgb(255, 255, 255, 0.2);
	backdrop-filter: blur(1.25rem);
	box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
	border: 0.1rem solid rgba(255, 255, 255, 0.2);		
}

.point-t {
	font-size: 1.5rem;
	margin-bottom: -1rem;
	font-weight: 400;
	color: var(--orange);
	font-family: var(--font-primary);	
}

.responsetitle {
	margin-bottom: -0.6rem;
	font-style: italic;
	font-weight: 600;
	font-size: 1.1rem;
	color: var(--dary-gray);
}
footer {
	font-family: var(--font-primary);
	font-size: 1.5rem;
	font-weight: 300;
	background-color: var(--orange);
	color: var(--dary-gray);
	text-align: center;
}

footer:hover {
	background-color: var(--dary-gray);
	color: var(--light-gray);
}

.cr {
	font-style: italic;
	font-weight: 600;
	font-size: 1.2rem;
	color: var(--orange);
}

.btt {
	font-size: 1.2rem;
	display: block;
	color: var(--dary-gray);
	text-align: right;
	font-family: var(--font-primary);
	margin-top: 0.1rem;
	margin-bottom: 0.5rem;
	}

.btt:hover {
	color: var(--orange);
	transform: translateX(-0.4rem);
}

.subtitle {
	font-family: var(--font-primary);
	text-transform: uppercase;
	font-size: 1.2rem;
	font-style: italic;
	font-weight: 300;
	color: var(--orange);
	padding: 1rem;
	border-radius:0.5rem;
	background-color: var(--dary-gray);
	backdrop-filter: blur(1.25rem);
	box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
	border: 0.05rem solid #717171;
	position: sticky;
	top: 20px;
}


/* Mobile Media Query */

@media(max-width: 425px) {

body {
	margin-right: 5rem;
	margin-left: 5rem;
}

header {
	display: grid;
	grid-row: 1fr
	1fr;
}

h1{
	line-height: 3.5rem;
	font-weight: 100;
}

.title {
	display: none;
}


.title2 {
	display: none;
}

.mobiletitle, .mobiletitle2 {
	display: block;
	font-size: 9rem;
	font-family: var(--font-primary);
	text-transform: uppercase;
	margin-top: 3rem;
}

.mobiletitle2 {
	margin-bottom: 3rem;
	font-size: 10rem;
	text-align: center;
}


h3 {
	font-size: 2.5rem;
	background-color: var(--orange);
	padding-left: 0.2rem;
	position: relative;
	z-index: 5;
	font-family: var(--font-primary);
}

.article,
.response {
	margin-top: 2rem;
	font-size: 2.5rem;
}

blockquote {
	margin-top: 3rem;
	font-size: 2rem;
	padding: 1.5rem;
}

p {
	font-size: 2.5rem;
}

q {
	font-size: 2.7rem;
}

.subtitle {
	font-size: 2.3rem;
}

.question {
	font-size: 3rem;
}

.designer {
	font-size: 2.5rem;
}

.answer {
	font-size: 2rem;
}

.account {
	font-size: 2rem;
}

.point {
	font-size: 3rem;
}

.point-t {
	font-size: 3rem;
}

#mainpoint {
	padding: 3rem;
}

.responsetitle {
	font-size: 3rem;
}

.cr {
	font-size: 2.5rem;
}

.btt {
	font-size: 3rem;
	margin-bottom: 2rem;
}

footer {
	font-size: 3rem;
}

}

/* Tablet Media Query */

@media(max-width: 1200px) {

	body {
		margin-right: 5rem;
		margin-left: 5rem;
	}
	
	header {
		display: grid;
		grid-row: 1fr
		1fr;
	}
	
	h1{
		line-height: 3.5rem;
		font-weight: 100;
	}
	
	.title {
		display: none;
	}
	
	
	.title2 {
		display: none;
	}
	
	.mobiletitle, .mobiletitle2 {
		display: block;
		font-size: 7rem;
		font-family: var(--font-primary);
		text-transform: uppercase;
		margin-top: 2rem;
	}
	
	.mobiletitle2 {
		margin-bottom: 3rem;
		font-size: 7rem;
		text-align: right;
	}
	
	
	h3 {
		font-size: 2rem;
		background-color: var(--orange);
		padding-left: 0.2rem;
		position: relative;
		z-index: 5;
		font-family: var(--font-primary);
	}
	
	.article,
	.response {
		font-size: 2rem;
		padding: 0.5rem;
	}
	
	blockquote {
		margin-top: 3rem;
		font-size: 1.3rem;
		padding: 1.5rem;
	}
	
	p {
		font-size: 1.5rem;
	}
	
	q {
		font-size: 1.7rem;
	}
	
	.subtitle {
		font-size: 1.5rem;
	}
	
	.question {
		font-size: 1.8rem;
	}
	
	.designer {
		font-size: 1.4rem;
	}
	
	.answer {
		font-size: 1.2rem;
	}
	
	.account {
		font-size: 1.2rem;
	}
	
	.point {
		font-size: 1.8rem;
	}
	
	.point-t {
		font-size: 1.8rem;
	}
	
	#mainpoint {
		padding: 3rem;
	}
	
	.responsetitle {
		font-size: 1.8rem;
	}
	
	.cr {
		font-size: 1.6rem;
	}
	
	.btt {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}
	
	footer {
		font-size: 1.6rem;
	}
	
	}

	