body{
	background-color: #dadada;
	color:#252525;
	font-family: minion-pro-subhead;
	margin-top: 3em;
	margin-left: 5em;
	margin-right: 5em;
	font-size: 1.2em;
	font-weight: 100;
}
h1{
	line-height: 5em;
	margin-left: 0em;
}

.word1{
	font-family: Miss Fajardose;
	font-size: 13em;
	position: relative;
    top: 0.02em;
}
.word2{
	font-family: 'Micro 5';
	font-size: 8em;
	position: relative;
    top: -0.08em;
	font-weight: 300;
}
.word3{
	font-family: Minion Pro;
	font-size: 5.5em;
	font-weight: 400;
	position: relative;
    top: 0.02em;
	left: -0.07em;
}
.word4{
	font-family: Minion Pro;
	font-size: 6.2em;
	font-weight: 600;
	position: relative;
    top: -0.1em;
	left: -0.03em;
}
.word5{
	font-family: Minion Pro;
	font-size: 5em;
	font-weight: 300;
	position: relative;
    top: -0.1em;	
	left: -0.05em;
}
.word6{
	font-family: Neonderthaw;
	font-size: 7em;
	position: relative;
    top: -0.08em;
	left: 0.15em;
	font-weight: 300;
}
.word7{
	font-family: Minion Pro;
	font-size: 4em;
	position: relative;
    top: -0.08em;
	left: 0.2em;
	font-weight: 200;
}
.text1{
	font-family: Minion Pro;
	font-size: 6em;
	position: relative;
	left: 0.3em;
	font-weight: 700;
}
.text2{
	font-family: Miss Fajardose;
	font-size: 11em;
	position: relative;
	left: 0.03em;
	top: -0.03em;
	color: #f84816;
}
.text3{
	font-family: Neonderthaw;
	font-size: 7em;
	position: relative;
	left:0.1em;
	font-weight: 200;
}
.text4{
	font-family: 'Micro 5';
	font-size: 7em;
	position: relative;
	left:0.15em;
	top: 0.02em;
}
.text5{
	font-family: Minion Pro;
	font-size: 6em;
	position: relative;
	left:0.1em;
	font-weight: 500;	
}
.text6{
	font-family: Miss Fajardose;
	font-size: 11em;
	position: relative;
	left: 0.03em;
	top: -0.03em;
}
.text7{
	font-family: Miss Fajardose;
	font-size: 12em;
	position: relative;
	left: 0.01em;
	top: -0.01em;
}
::selection {
	background-color: #f84816;
	color: #dadada;
}
.highlight{
	font-family: Neonderthaw;
	color: #f84816;
}
h3{
	font-size: 1em;
	background-color: #f84816;
	padding-left: 0.2em;
}
.rightdate{
	float: right;
	padding-right: 0.2em;
}
.textbox{
	font-family: futura;
	font-size: 0.8em;
	font-style: italic;
	font-weight: 300;
	border: 1px dashed #252525;
	color: #252525;
	padding: 1em;
	border-radius:0.5em;
	margin-bottom: 2em;
	margin-top: 1.5em;
	width: 90%;
}
.textbox:hover{
	border: 1px dashed #f84816;
	border-radius:0.5em;
}

.author-link:hover{
	color:#dadada;
	text-decoration: underline;
}
.box-link{	
	text-decoration: underline;
}
.box-link:hover{
	color: #f84816;
}
.quote{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	font-family: "minion-pro-condensed-caption", serif;
	font-weight: 500;
	font-style: italic;
	color: #f84816;
}
.paragraph{
	font-family: minion-pro-subhead;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	font-weight: 400;
}
.subtitle{
	font-family: Myanmar MN;
	color: #f84816;
	font-size: 1.8em;
	font-weight: 500;
	margin-top: 2em;
}
.question{
	text-decoration: underline;
	margin-bottom: 1.5em;
}
.designer{
	font-size: 1em;
	font-weight: 600;
	color: #f84816;
}
.answer{
	margin-bottom: 1em;
	font-size: 1em;
}
.account{
	font-size: 0.9em;
}
.account:hover{
	color: #252525;
	text-decoration:underline;
}